*.o
*.dSYM
config.h.in
Makefile.in
autoconf/*
aclocal.m4
/config*
autom4te.cache
Makefile
libtool
.DS_Store
.deps
src/accn
src/ahunt
src/bandpass
src/barycentre
src/best
src/blanker
src/chaninfo
src/chop_fil
src/clip
src/csearch
src/decimate
src/dedisperse
src/dedisperse_all
src/depolyco
src/dice
src/dmsampdelay
src/downsample
src/extract
src/extragplot
src/fake
src/fast_fake
src/ffa
src/filedit
src/filterbank
src/flatten
src/flux
src/fold
src/foldsignals
src/getpulse
src/giant
src/grey
src/header
src/hunt
src/inject_pulsar
src/libsigproc.a
src/makedummy
src/monitor
src/peak
src/pgplotter
src/plotpulses
src/polyco2period
src/postproc
src/profile
src/quickgplot
src/quicklook
src/quickplot
src/readchunk
src/reader
src/seek
src/shredder
src/sigproc.h
src/snrdm
src/spec
src/spexplorer
src/splice
src/splitter
src/spsearch
src/step
src/tree
src/tune
stamp-h1
src/zerodm
